English Proficiency Requirements | USCA
https://www.usca.edu/admissions/admission-types/international/english-proficiency-requirements/
Return to International Admissions
English Proficiency Requirements
Applicants who do not use English as their language of everyday use must demonstrate the ability to be successful in an English-medium academic curriculum. This helps to ensure a student’s success both academically and socially.
USCA accepts the TOEFL, IELTS, PTE, and Duolingo exams to demonstrate English proficiency for those students for whom English is not their language of everyday use. Students must meet at least one of the requirements to be considered for admission. Score results must be sent directly to USCA Admissions from the testing agency to be considered official. Scores provided by students are unofficial and cannot be used to make an official admission decision.
A waiver for this requirement is automatically granted to students from countries where English is the native or official language for academic instruction. English proficiency tests are not required if the applicant’s native country is one of the following:
- Anguilla
- Antigua & Barbuda
- Australia
- Bahamas
- Barbados
- Belize
- Bermuda
- British Virgin Islands
- Canada (except Quebec)
- Cayman Islands
- Dominica
- Gambia
- Ghana
- Gibraltar
- Grenada
- Guyana
- Ireland
- Jamaica
- Kenya
- Lesotho
- Liberia
- Montserrat
- New Zealand
- Sierra Leone
- South Africa
- St. Christopher (St. Kitts)
- St. Lucia
- St. Vincent
- Swaziland (Eswatini)
- Tanzania
- Trinidad & Tobago
- Turks & Caicos Islands
- Uganda
- United Kingdom
- Zambia
- Zimbabwe
TOEFL Paper Based Test (PBT)
- Regular Admission: A student must receive a score of 551 or better.
- Provisional Admission: Students who receive a score between 500 and 550 may be admitted, but they will be required to take English 110, III, or both, English as a Second Language, in their first semester of attendance. Placement for provisional admission will be based on your Band scores.
TOEFL Internet Based Test (IBT)
- Regular Admission: A student must receive a score of 80 or better.
- Provisional Admission: Students who receive a score between 61 and 79 may be admitted but will be required to take English 110, III, or both, English as a Second Language, in their first semester of attendance. Placement for provisional admission will be based on your Band scores.
International English Language Testing System (IELTS)
- Regular Admission: A student must receive a score of 6.0 or better.
- Provisional Admission: Students who receive a score between 5.5 and 6.0 may be admitted, but they will be required to take English 110, III, or both, English as a Second Language, in their first semester of attendance. Placement for provisional admission will be based on your Band scores.
Manchester Exam (MEXAM)
- Regular Admission: A student must receive a score of 400 or better.
- Provisional Admission: Students who receive a score between 350 and 399 may be admitted, but they will be required to take English 110, 111, or both, English as a Second Language, in their first semester of attendance. Placement for provisional admission will be based on your Band scores.
Pearson Test of English (PTE Academic)
- Regular Admission: A student must receive a score of 53 or higher
- Provisional Admission: Students who receive a score between 42 – and 52 may be admitted but must take English 110, 111, or both, English as a Second Language, in their first semester of attendance. Placement for provisional admission will be based off your Band scores.
Duolingo English Test (DET)
- Regular Admission: A student must receive a score of 105 or higher
- Provisional Admission: Students that receive a score between 95 – 100 may be admitted but will be required to take English 110, 111, or both, English as a Second Language, in their first semester of attendance. Placement for provisional admission will be based on your Band scores.
English as a Second Language (ESL)
USCA offers two English as a Second Language (ESL) courses (English 110 and 111) for newly admitted and currently enrolled students who want to improve their language skills. Some students may be required to take one or both of these classes as a condition of their acceptance.
For students who must improve their English proficiency prior to enrolling at USCA, the University of South Carolina English Programs for Internationals (EPI) on the USC Columbia campus offers an intensive English program.
Intensive English Program Partners
USCA collaborates with select Intensive English Programs (IEP) in the U.S. to offer quality education to international students. We provide diverse undergraduate and graduate programs, focusing on bachelor’s degrees. International students who complete programs at our partner IEPs to the required standard can meet USCA’s English proficiency criteria without needing TOEFL, IELTS, or PTE scores, ensuring they're prepared for university-level study.
- The University of South Carolina - English Program For Internationals (EPI): Columbia, SC
- EPI provides students with 20 instructional hours per week at seven proficiency levels.
- Required Levels: 5 in Writing/Grammar, Reading/Vocabulary, and Speaking/Listening.
- Agape English Language Institute: Columbia, SC and Greenville, SC
- At Agape, students study six levels of English, from beginner to proficient. Their curriculum is aligned with the Common European Framework Reference of Languages (CEFR).
- Required Levels: 5 in Speaking & Listening, Reading & Writing, and Grammar.
- American Language Academy (ALA): Greensboro, NC
- ALA specializes in intensive academic English - Preparatory, Academic, and Advanced Academic at seven different levels
- Required Levels: 5 in Listening/Writing, Reading/Speaking, and Grammar in Communication.
Select from the following options to learn more about the college application process, requirements to be admitted to USCA, and more.
Dual Enrollment
Freshman
Graduate
International
Online
Transfer
Veteran & Military