ACE Application | USCA
https://www.usca.edu/departments/academic-affairs/gen-ed-requirements/ace/ace-application/
To be considered for ACE credit, applications must be submitted at least two weeks prior to the proposed event. ACE applications must clearly explain which general education goal is being supported and the cultural or intellectual significance of the event.
Applicants may request that their event be worth two (2) ACE credits with sufficient justification related to time and/or efforts on the application form. Event approval is not contingent on additional credit approval.
Student social/entertainment activities, including athletic events, do not qualify as ACE events.
The General Education Committee reviews all ACE event applications.
Contact Us
Need Help?