Academic Curricular Enrichment (ACE) | USCA
https://www.usca.edu/departments/academic-affairs/gen-ed-requirements/ace/
Academic Curricular Enrichment (ACE) is a university-wide initiative that seeks to expand USCA students’ experiences through diverse curricular enrichment opportunities. As a comprehensive liberal arts institution, USCA aims to produce “engaged learners and principled citizens.” The ACE initiative helps to broaden students’ cultural and intellectual perspectives, while engaging them in learning opportunities that are provocative, insightful, and informative. USCA is committed to providing all students with sustained opportunities to grow intellectually through rich and diverse cultural experiences.
Contact Us
Need Help?