ACE Events Calendar | USCA
https://www.usca.edu/departments/academic-affairs/gen-ed-requirements/ace/calendar/
ACE Events Calendar
To receive ACE credit, students:
- Must scan their student ID before entering
- Can only attend an event once for credit
- Should check the calendar to make sure the event has not been cancelled
- Need to use legible handwriting and write their student ID number on all cards/lists
- Must turn in any attendance cards before leaving the event
- Should wait at least two weeks for ACE events to be posted in Degree Works (refresh audit before viewing)
- Must arrive at least 5 minutes before the event begins. Students who show up late WILL NOT receive ACE credit.
Contact Us
Need Help?