Guidelines and Criteria | USCA
https://www.usca.edu/departments/academic-affairs/gen-ed-requirements/ace/guidelines-and-criteria/
Guidelines
The following types of events may be included for ACE credit:
- Films and documentaries. The film or documentary must be introduced and discussed by an expert in the field (e.g. faculty member, community leader, or professional) as part of the event, and its broader significance must be addressed. Time should be allowed for questions after the film.
- Lectures. The speaker will be qualified to speak to the topic at hand and the topic’s broader significance will be integrated into the presentation.
- Performances and exhibits. The performers and artists will be qualified and skilled. The broader cultural significance of the work will be clarified through initial and concluding comments, program notes, or by other means.
- Debates and panel discussions. Determination of whether such activities qualify would be based on the panel’s qualifications and the topic at hand. The broader intellectual and/or cultural significance would be conveyed before and/or after the event.
- Workshops designed to improve writing, information literacy, and/or communication skills. The speaker(s) must be qualified to speak on the topic at hand and should include opportunities for active engagement of workshop participants.
- Workshops designed to teach and improve practical life skills. These events include, but are not limited to, financial and budgeting skills, practical university skills (e.g. studying habits, time management), and mental health and wellness. The speaker(s) must be qualified to speak on the topic at hand and should include opportunities for active engagement of workshop participants.
- Service and service-learning opportunities, provided the opportunities are given an appropriate broader context with respect to the ACE program goals. This significance will be conveyed before, during, and/or after the event.
Criteria
Student social/entertainment activities, including athletic events, may not be included.
| ACE Criteria | General Education Goal |
| The event promotes/ is designed to enhance students’ ability to demonstrate/ perform: | |
| effective communication skills with regard to audience, ethics, language choice, and logic; evaluation of communication models in appropriate context(s); assessment of the research claims of others; and/or recognition of the effects of verbal/nonverbal communication. | Oral Communication |
| effective writing skills with regard to purpose, use of evidence, organization, style, and/or grammar in appropriate context(s). | Written communication |
| use of statistics or mathematics to solve abstract or applied problems in appropriate context(s), insightful interpretation of graphs, tables, or schematics. | Mathematics, Statistics, and Logic |
| understanding of the problems, principles, processes, phenomena, and/or theories of science; the ability to use the scientific method to solve problems; and/or comprehension of the impact of science on society. | Natural Sciences |
| understanding of the concepts and perspectives of, and/or the ability to effectively apply the methods of, the social or behavioral sciences. | Social and Behavioral Sciences |
| analysis, interpretation, contextualization, and/or evaluation of topics in the visual arts, theater, music, dance, literature, history, or philosophy; and /or creation or performance of original works in any area of the Humanities | Humanities |
| understanding of the cultural, social, and/or economic forces have shaped global history and global cultures. understanding of culture and/or cultural practices (outside of mainstream American culture) and/or reading/speaking/listening skills in a non-English language | Global Cultures |
| understanding of the workings of the American political process, including the fundamental values and ideas of the current system and/or how historical events and perspectives have helped to shape it, and comprehension of the political role(s) played by responsible citizens. | American Political Institutions |
| understanding of the various aspects of a non-Western culture, such as its art, history, or literature, and/or a more complex cross-cultural perspective regarding people, events, and institutions gained through comparison and analysis. | Cross Cultural Understanding (Non-Western) |
| Understanding of global and/or community needs and issues and the role of engaged citizens in addressing those needs through service | College, Career, and Community |
| Understanding and awareness of various career paths, industries, or roles coupled with enhancement of career-related skills such as resume-writing, networking, communication | College, Career, and Community |
| Comprehension of “real world” problems and solutions, such as personal health (e.g., stress management, health-protective behavior), financial literacy, digital literacy or interpersonal skills | College, Career, and Community |
Contact Us
Need Help?