 evaluation of communication models in appropriate context(s); assessment of the research claims of others; and/or recognition of the effects of verbal/nonverbal communication. | Oral Communication |
| effective writing skills with regard to purpose, use of evidence, organization, style, and/or grammar in appropriate context(s). | Written communication |
| use of statistics or mathematics to solve abstract or applied problems in appropriate context(s), insightful interpretation of graphs, tables, or schematics. | Mathematics, Statistics, and Logic |
| understanding of the problems, principles, processes, phenomena, and/or theories of science; the ability to use the scientific method to solve problems; and/or comprehension of the impact of science on society. | Natural Sciences |
| understanding of the concepts and perspectives of, and/or the ability to effectively apply the methods of, the social or behavioral sciences. | Social and Behavioral Sciences |
| analysis, interpretation, contextualization, and/or evaluation of topics in the visual arts, theater, music, dance, literature, history, or philosophy; and /or creation or performance of original works in any area of the Humanities | Humanities |
| understanding of the cultural, social, and/or economic forces have shaped global history and global cultures. understanding of culture and/or cultural practices (outside of mainstream American culture) and/or reading/speaking/listening skills in a non-English language | Global Cultures |
| understanding of the workings of the American political process, including the fundamental values and ideas of the current system and/or how historical events and perspectives have helped to shape it, and comprehension of the political role(s) played by responsible citizens. | American Political Institutions |
| understanding of the various aspects of a non-Western culture, such as its art, history, or literature, and/or a more complex cross-cultural perspective regarding people, events, and institutions gained through comparison and analysis. | Cross Cultural Understanding (Non-Western) |
| Understanding of global and/or community needs and issues and the role of engaged citizens in addressing those needs through service | College, Career, and Community |
| Understanding and awareness of various career paths, industries, or roles coupled with enhancement of career-related skills such as resume-writing, networking, communication | College, Career, and Community |
| Comprehension of “real world” problems and solutions, such as personal health (e.g., stress management, health-protective behavior), financial literacy, digital literacy or interpersonal skills | College, Career, and Community |
Contact Us
Need