USCA undergraduate students who are enrolled as of 2024 will earn a total of 10 ACE credits before their degree completion.
Transfer students and change-of-campus students will be awarded ACE credits based on the number of credit hours they bring to USCA and must subsequently attend ACE events until they reach a total of 10.
Returning students who have been away from USCA for more than 36 months and who return in Fall 2009 or thereafter must fulfill the same ACE requirements as transfer students.
It is strongly suggested that students do not wait to start attending ACE events until their senior year. Acquiring ACE credit early will facilitate graduation.
An up-to-date ACE calendar will be available on the USCA Academic Affairs website. Only events that the General Education Committee approves count for ACE credit. Only events that appear on the ACE calendar will count for ACE credit.
No. Students will only be given credit for attending the event once.
Students not studying abroad can receive ACE credit for events off campus as long as the event has already been approved.
Students participating in Study Abroad programs may earn up to 4 ACE credits while overseas by participating in pre-approved inter-curricular academic events. The Gen Ed Committee must approve all such special requests.
No. A list of possible online options will be made available to students who qualify upon enrollment.
Yes.
Yes, although students are strongly encouraged to start attending ACE events before their senior year.
Advisors should monitor students’ attendance at ACE events and remind them of their responsibilities regarding ACE credits. Seniors will not be able to graduate without 10 ACE credits awarded.
Upon arriving at the event, students will have their student IDs scanned. To be counted as present, a student must have their ID scanned before the event. ACE events sponsored by the Etherredge Center and the Ruth Patrick Science Education Center may require students’ IDs to be scanned both before and after the event. For unique situations, a physical ACE ticket will be available, which a student must fill out and turn in at the end of the event.
IDs will be scanned only up to the start of the event and again after completion of the event. Students who arrive late or leave early will not receive ACE credit.
If a student uses a ticket, these tickets will be distributed only up to the start of the event and will be collected ONLY at the end of an event.
Students may not turn in a ticket for another student or have an ID scanned for another student.
Attendance at ACE events can