Online ACE Events
Online ACE events are only available to students who are (1) completing a USCA degree at USC Sumter or USC Salkehatchie; (2) RN-BSN students; or (3) Palmetto College students. The number of ACE events required will be determined by the number of credit hours earned upon matriculation at USCA.
Credits at Matriculation ACE Credits Required
< 12 10
12-23 9
24-35 8
36-47 7
48-59 6
60-71 5
72-89 4
>89 3
On-line degree seeking students can select to fulfill their ACE event requirements by accessing the online ACE event portal. For each event watched, students complete an ACE event summary, which consists of a one-page summary/reflection of the event in question. Each ACE event summary must be submitted using this portal.
To access the online ACE event portal, please contact your Academic Advisor.