All students born after 1956 are required to provide proof of immunization. A registration hold is in place until this information is received. An immunization form was sent to you in your acceptance packet or you can find the form by clicking on the link below. This form has to be submitted before you can register for your classes. The University requirement is for two MMR shots (mumps, measles, and rubella). Student should have received the first shot after their first birthday and the second one before they went to school or shots are given 30 days apart if you receive them as an adult. A positive blood titer that shows immunity to the mumps, measles, and rubella (has to show all three) can be submitted (see form).
All freshman students living in housing are required to choose one of three options listed on the form regarding Meningococcal Disease (menactra). Information about the disease is found on page 2 of the form.
Acceptable records of your immunizations may be obtained from any of the following (be sure that your name and date of birth are on all forms and copies are legible):
- High School Records - attach copy to the form
- Health Department - attach copy to the form
- Personal Shot Record - must be verified by a doctor's stamp or signature or by a clinic or health department stamp - attach copy to the form
- Military shot record - attach copy to the form
- Previous College or University - your records do not transfer automatically, you must request a copy - attach copy to the form
- Doctor can fill out the information on the form and sign, stamp and date the bottom of the form.
- Laboratory/serologic evidence of immunity (positive titer) - attach a copy to the form.
Mail to the address on the form or you can fax to (803) 641-3727.
Select from the following options to learn more about the college application process, requirements to be admitted to USCA, and more.
Dual Enrollment
Freshman
Graduate
International
Online
Transfer
Veteran & Military