 not be accepted.
Clinical Uniform (4-Year Traditional BSN students only): Personal appearance is an important factor in the effective delivery of health care. Students are expected to wear the approved student nursing uniform in all clinical areas, including the simulation lab. Information about the student nursing uniform will be provided to students who are accepted to the traditional BSN program.
Clinical Placement Coordinators:
|
4-Year Traditional BSN program: Professor Lacey Julian |
RN-BSN program: Professor Mary Kennedy |
Application to the School of Nursing
To access the application, you will login as a 'Returning User,' not a 'First Time User.' Use the same email address and password you used to apply for admission to the university. If you do not remember the email you used, call the Admissions Office at 803-641-3366 and they can assist you.
You must first apply for admission to the university, and then apply to the SON. To access the application, you will login as a 'Returning User,' not a 'First Time User.' Use the same email address and password you used to apply for admission to the university. If you do not remember the email you used, call the Admissions Office at 803-641-3366 and they can assist you.