USCA undergraduate students who are enrolled as of 2025 will need to complete a total of 10 ACE events prior to graduation. The number of ACE events required for graduation is based on the number of college credits earned upon matriculation. ACE events are calculated as follows:
Credits at Matriculation ACE Credits Required
< 12 10
12-23 9
24-35 8
36-47 7
48-59 6
60-71 5
72-89 4
>89 3
ACE event attendance is uploaded to the student’s Degree Works account every Friday. It is the student’s responsibility to check the status of their ACE requirements and to verify that appropriate credit has been received. Students must report perceived discrepancies in the crediting of attendance at an ACE event to the Associate Vice Chancellor of Academic Affairs (tlintner@usca.edu) no later than thirty (30) calendar days following the event. Students will not earn credit for perceived discrepancies reported after thirty (30) calendar days.