 in addressing those needs through service | College, Career, and Community |
| Understanding and awareness of various career paths, industries, or roles coupled with enhancement of career-related skills such as resume-writing, networking, communication | College, Career, and Community |
| Comprehension of “real world” problems and solutions, such as personal health (e.g., stress management, health-protective behavior), financial literacy, digital literacy or interpersonal skills | College, Career, and Community |
Contact Us
Need Help?