Writing Intensive (WI) Requirement
USCA's Writing Intensive (WI) Requirement began as part of the General Education program for all incoming students in Fall 2011. This requirement supports USCA's Mission as a comprehensive liberal arts institution to challenge students to acquire and develop the skills, knowledge, and values necessary for success in a dynamic global environment through improving their writing and critical thinking skills. In WI courses students will produce the equivalent of at least 15-20 pages of word-processed written work as part of the overall grade. The revision process is an important component of the writing process and the development of critical thought; and to that goal, WI courses will feature opportunities for revising written work.
Why are Writing Intensive (WI) courses important?
Writing Intensive (WI) courses seek to improve students' written communication skills through active engagement with the writing process across and within disciplines. Continuing to engage with writing, students will be able to improve critical thinking, organization, language and grammar skills, and abilities associated with research. WI courses at the 100-200 level reinforce knowledge and skills learned in the first year composition sequence (i.e., English 101 and English 102) and the Critical Inquiry seminar (i.e., Critical Inquiry 101). WI courses at the 300-400 level introduce and/or reinforce writing and scholarship conventions within the major.
How are Writing Intensive (WI) courses designed?
Writing Intensive (WI) courses require at least 15-20 pages of word-processed written work as part of the overall grade. Each WI class will include explicit instruction on writing related to the given course/discipline. Instructors will allow students to revise and/or edit their written work(s) based upon comments or conferences. Based on the writing proficiency goals of USCA, comments will offer strategies to address all or some combination of clarity of purpose, quality of thought, organization of content, synthesis and integration of sources, attribution and documentation of sources, language and style, and grammar and usage as appropriate within the assignment/discipline.
What is the Writing Intensive (WI) general education requirement?
After completing English 101 and English 102 with a C or better, students will complete three courses officially designated as Writing Intensive (WI). English 201: Writing in the University cannot be used as one of these courses. Students must take a minimum of one WI course within their major.
For transfer students, WI credit will be calculated using the following table:
