 for writing proficiency across the university.
How can faculty contribute to the Writing Intensive (WI) program?
The General Education Committee (GEC) manages the Writing Intensive (WI) program and authorizes WI course proposals. Generally, in 100-200 level courses, writing might consist of shorter assignments (e.g., 8-10 one- to two-page papers or 4 three- to four-page papers), essay exam responses, and/or writing-to-learn assignments (e.g., journal assignments, brief responses to readings, short research assignments, response to peer writing, lab reports, etc.). In 300-400 level courses, longer papers might be more appropriate (e.g., 2 ten-page papers, or 1 ten- and 2 five-page papers, etc.). Some indication of revision should be explained in the proposal.
To have a course considered for WI approval, please complete the WI Course Proposal Form (below) and submit electronically to the General Education Committee Chair.
ADVISOR QUICK GUIDE
For more information, please contact:Dr. Timothy Lintner, Asst. Vice Chancellor for Academic Affairs, 803-641-3564, TLintner@usca.edu