 out and turn in at the end of the event.
IDs will be scanned only up to the start of the event and again after completion of the event. Students who arrive late or leave early will not receive ACE credit.
If a student uses a ticket, these tickets will be distributed only up to the start of the event and will be collected ONLY at the end of an event.
Students may not turn in a ticket for another student or have an ID scanned for another student.
Attendance at ACE events can be checked in Degree Works in (Self-Service Aiken) SSA.
No. Occasionally, ACE events are canceled due to unforeseen circumstances, such as a presenter falling ill or inclement weather. While we understand the inconvenience, students will not receive credit for trying to attend an event that does not take place.
At each event, a faculty or staff member will be responsible for monitoring student behavior. Students whose behavior is deemed unacceptable will be asked to leave the event and will receive no ACE credit.
Student behavior at ACE events is expected to be the same as in the classroom, including adherence to the USCA Policy for Portable Electronic Devices.
Submit the ACE Event Application
- If the event is approved as an ACE Event, edit the event space in 25Live to include “AIK-ACE Event Request” as a resource, which will add the event onto the ACE calendar.
-
Events should only be advertised using the ACE logo once the ACE event application has been approved. Advertising an event as an ACE event before it has been approved can result in automatic denial.