Program Requirements
In addition to the curriculum requirements below, students must:
- complete 700 hours of applied experience, 240 of which are direct client contact. These are completed in assistantships and in the Psychology Clinic, the training clinic housed in our department
- pass a case presentation in their advanced practicum course
- conduct a research project or a thesis with a faculty mentor
- receive adequate ratings in areas of academic, research and clinical and professional development by the clinic faculty
Curriculum
1. Core Courses (All required): (15 credit hours)
PSYC 610 Developmental Psychology (3)
PSYC 620 Psychopathology (3)
PSYC 624 Research Methods in Psychology (3)
PSYC 625 Statistics (3)
PSYC 760 Applied Neuroscience for Mental Health Professionals (3)
2. Applied Clinical Courses (All required): (37 credit hours)
PSYC 600 Ethical and Professional Issues in the Practice of Psychology (3)
PSYC 630 Career and Lifestyle Development (3)
PSYC 680 Cognitive Assessment (4)
PSYC 701 Theories and Techniques of Counseling and Psychotherapy (3)
PSYC 702 Psychotherapy in a Multicultural and Diverse Society (3)
PSYC 710 Assessment and Treatment of Substance Use Disorders (3)
PSYC 720 Trauma Psychology (3)
PSYC 725 Group Therapy and Counseling (3)
PSYC 780 Personality and Pathology Assessment (3)
PSYC 790 Pre-Practicum (2)
PSYC 791 Practicum in Applied Clinical/Counseling Psychology 1 (3)
PSYC 793 Practicum in Applied Clinical/Counseling Psychology 2 (3)
PSYC 794 Advanced Practicum (1)
3. Advanced Topics (must take at least one course): (3 credit hours)
PSYC 700 Advanced Topics in Applied Psychology (3)
4. Research (2 semester minimum required): (3 credit hours)
PSYC 699 Independent Research (1-2)
5. Professional Electives (3 credit hours)
PSYC 699 Independent Research (1-3)
PSYC 700 Advanced Topics in Applied Psychology (3) – on a topic other than the one taken to fill the requirement under #3 above. Topics rotate each summer.
PSYC 795 Clinical/Counseling Internship (1-3; may be repeated)
PSYC 799 Thesis (1-3; may be repeated; 3 total required)