Admission Requirements
The Department of Computer Science, Engineering, and Mathematics evaluates applicants based on their overall academic profile, comprising:
- Completion of a comprehensive application to the Graduate Office, USCA.
- Possession of a bachelor’s degree from an accredited institution, with substantial coursework in computer science or related fields.
- Submission of transcripts from all undergraduate and graduate studies (preferably with a minimum GPA of 3.0); GRE scores are not mandatory.
- Applicants with GPAs below 3.0 may apply under probationary status, providing additional evidence such as GRE scores or relevant work experience.
- Submission of three letters of recommendation, with at least two from faculty members at accredited academic institutions.
Please note: Admission may be granted as regular or probationary.
Admission and Application Process
All applications must be completed and submitted online. Prospective graduate students must hold a bachelor's degree as per USCA's general regulations. Admission is offered at two levels:
- Full Admission Status:
Applicants with satisfactory references and undergraduate records demonstrating academic success. - Provisional Status:
- Intended for applicants aiming for a graduate degree but lacking the requirements for full admission, such as a Grade Point Average (GPA) near or below 3.0.
- To qualify for full admission, provisional students must achieve a 3.0 GPA within the first 12 credit hours.
- If, after completing any semester of provisional enrollment, it is evident that the student cannot attain a 3.0 GPA within the first 12 credit hours, the student will be disenrolled.
- Applicants whose native language is not English must provide a satisfactory score on the Test of English as a Foreign Language (TOEFL), with a minimum acceptable score of 550 on the standard test or 213 on the computer-based version.
- Students with lower TOEFL scores may be admitted but must take English corequisite(s).
- Applying for the Master of Computer and Information Science degree requires no GRE. However, a GRE score can be submitted to support a probationary admission request or scholarship application.
Location
Penland 227
Contact Us