Health Requirements and Annual Updates
- Nursing students are required to meet all health requirements described in the USCA Bulletin. When students enter the nursing program, they are required to comply with all health requirements established by affiliated clinical agencies. Students are responsible for maintaining all documentation necessary to demonstrate compliance with affiliated clinical agencies’ requirements.
- Immunization: The following are required to attend clinical unless otherwise stated:
+ Tuberculin skin test (2-step initially and 1-step annually thereafter)
+ MMR series
+ Tdap within the last 10 years
+ Varicella (2-step vaccine series or titer indicating positive immunity)
+ Hepatitis B vaccine (HBV) (2-step or 3-step [depending on vaccine] or titer indicating positive immunity)
+ Seasonal flu shot (or declination)
+ COVID-19 vaccine (or declination)
- Health Examination (4-Year Traditional BSN program students only):
+ Initial health examination required before students may begin clinical. The health examination form must be signed by a licensed healthcare provider.
+ A self-reported Annual Health Questionnaire must be submitted annually thereafter. This does not require a healthcare provider signature.
- Criminal Background Check: All students are required to submit to a criminal background check prior to beginning the program and annually thereafter.
- Drug Screening: USC Aiken School of Nursing requires all students to submit to annual drug screening tests. Screening must be completed before starting the nursing program and annually until all clinical coursework is done. Students are responsible for making any appointments necessary to complete the drug screening.
- Health-related Training: This training will be provided by the School of Nursing and is completed once before starting clinicals.
+ HIPAA
+ OSHA
+ Bloodborne Pathogens
Healthcare Provider Basic Life Support (BLS) Certification: All students must maintain Healthcare Provider BLS certification from the American Heart Association. Students are responsible for maintaining this certification throughout their time in the nursing program. CPR certification from the American Red Cross will not be accepted.
Clinical Uniform (4-Year Traditional BSN students only): Personal appearance is an important factor in the effective delivery of health care. Students are expected to wear the approved student nursing uniform in all clinical areas, including the simulation lab. Information about the student nursing uniform will be provided to students who are accepted to the traditional BSN program.
Clinical Placement Coordinators:
|
4-Year Traditional BSN program: Professor Lacey Julian |
RN-BSN program: Professor Mary Kennedy |
Application to the School of Nursing
To access the application, you will login as a 'Returning User,' not a 'First Time User.' Use the same email address and password you used to apply for admission to the university. If you do not remember the email you used, call the Admissions Office at 803-641-3366 and they can assist you.
You must first apply for admission to the university, and then apply to the SON. To access the application, you will login as a 'Returning User,' not a 'First Time User.' Use the same email address and password you used to apply for admission to the university. If you do not remember the email you used, call the Admissions Office at 803-641-3366 and they can assist you.