The Leadership USCA certificate enhances students’ ability to transition into career and community roles after college.
Participants will take four required classes
- ASUP 110 – Emerging Leaders (2 credit hours)
- ASUP 210 – Citizen Leadership (2 credit hours)
- ASUP 215 – Diversity and Leadership (2 credit hours)
- ASUP 410 – College to Career (1 credit hours)
Mentor
- Toured mentor’s work setting
- Meeting #1
- Meeting #2
- Mentee evaluations/Reflection paper
Participate in at least one immersive leadership program
- Alternative Breaks
- Study Abroad Program (either sponsored through an academic department on campus or the International Programs Office)
- Leadership Exchanges (such as USCA/Suffolk Leadership Exchange, Disney Leadership Exchange, or any other of the ASUP 300 level courses)
- Multi-day conference affiliated with the USCA or another national organization.
Participate in at least one experiential/career preparation program
- BADM 429 – Internship (1-3 credit hours)
- EDEL 470 – Internship in the Elementary School (12 credit hours)
- EDEX 472 – Internship in Special Education (12 credit hours)
- EDSE 471 – Internship in the Middle or High School (12 credit hours)
- NURS 421/423 – Leadership and Management in Nursing for RNs (5 credit hours)
- ARTS 549 – Directed Internship (3 credit hours)
- MUED 470 – Internship in Music Education (12 credit hours)
- THEA 596 – Directed Internship in Theatre (3 credit hours)
- ENGL 497 – Directed Internship (1 – 3 credit hours)
- EXSC 439 – Internship in Fitness Management 3-12 credit hours)
- EXSC 441 – Internship in Allied Health (3 credit hours)
- COMM 497 – Directed Capstone Internship (3 credit hours)
- COMM 499 – Service Learning Capstone Experience (3 credit hours)
- Any other academic credit internship or practicum class
- Non-Credit Internship/Co-Operative Education position
- Job Shadowing Experience
Participants will complete the following options
- Three leadership development opportunities (examples are student organization officers, retreat, orientation leader, etc.)
- Three career development opportunities (job, workshop, etc.)
- Participate in one community volunteer program or event (sponsored by USCA)
- Participate in one health/wellness program or event (sponsored by USCA)
- Participate in one diversity program or event (sponsored by USCA)
Post-Certificate Survey
- Survey completed
Meetings
- Meet every semester with the Leadership Certificate Staff Coordinator
For more information, please email Corey Feraldi, Director of Career Services, at coreyf@usca.edu or Ahmed Samaha, Vice Chancellor of Student Engagement and Belonging, at ahmeds@usca.edu.
Ready to get started? Submit your application online.
If you are already participating in the program and need to send an update on your progress, please complete the Requirements Checklist form for Leadership USC Aiken.
Location
Student Activities Center (SAC)
Phone
Contact Us
Assistant Director of Student Leadership and Engagement
Need Help?