Writing Intensive (WI) Requirement
USCA's Writing Intensive (WI) Requirement began as part of the General Education program for all incoming students in Fall 2011. This requirement supports USCA's Mission as a comprehensive liberal arts institution to challenge students to acquire and develop the skills, knowledge, and values necessary for success in a dynamic global environment through improving their writing and critical thinking skills. In WI courses students will produce the equivalent of at least 15-20 pages of word-processed written work as part of the overall grade. The revision process is an important component of the writing process and the development of critical thought; and to that goal, WI courses will feature opportunities for revising written work.
Why are Writing Intensive (WI) courses important?
Writing Intensive (WI) courses seek to improve students' written communication skills through active engagement with the writing process across and within disciplines. Continuing to engage with writing, students will be able to improve critical thinking, organization, language and grammar skills, and abilities associated with research. WI courses at the 100-200 level reinforce knowledge and skills learned in the first year composition sequence (i.e., English 101 and English 102) and the Critical Inquiry seminar (i.e., Critical Inquiry 101). WI courses at the 300-400 level introduce and/or reinforce writing and scholarship conventions within the major.
How are Writing Intensive (WI) courses designed?
Writing Intensive (WI) courses require at least 15-20 pages of word-processed written work as part of the overall grade. Each WI class will include explicit instruction on writing related to the given course/discipline. Instructors will allow students to revise and/or edit their written work(s) based upon comments or conferences. Based on the writing proficiency goals of USCA, comments will offer strategies to address all or some combination of clarity of purpose, quality of thought, organization of content, synthesis and integration of sources, attribution and documentation of sources, language and style, and grammar and usage as appropriate within the assignment/discipline.
What is the Writing Intensive (WI) general education requirement?
After completing English 101 and English 102 with a C or better, students will complete three courses officially designated as Writing Intensive (WI). English 201: Writing in the University cannot be used as one of these courses. Students must take a minimum of one WI course within their major.
For transfer students, WI credit will be calculated using the following table:
| Transfer Credit | ||
| Hours Earned | Number of WI Courses Required | WI Credit Given |
| less than 60 hours | 3 WI courses (1 in major) | 0 |
| 60-89 hours | 2 WI courses (1 in major) | 1 |
| greater than 89 hours | 1 WI course in major | 2 |
How can students and advisors see what Writing Intensive (WI) courses are offered?
On the course schedule listed on SSC, Writing Intensive (WI) courses will have a WRI designation beside the course name.
NOTE: Not all sections of WI-approved courses are offered in the WI format in a given semester. Sections approved as WI will be indicated in the USCA course schedule at the time of priority registration.
How can students and advisors check what Writing Intensive (WI) classes have been taken?
Students must check their transcript. WI classes have a WRI designation. Only WI classes taken after English 101 and English 102 will count towards the WI Requirement.
How can students use their Writing Intensive (WI) papers?
While the enhanced writing instruction students receive in their Writing Intensive (WI) courses should benefit them in other classes, students may not master all the writing proficiency outcomes USCA requires. Some papers produced for a WI course may showcase some of those outcomes well. Students are encouraged to include at least some WI papers for the Writing Proficiency Portfolio (WPP), USCA’s longstanding measurement for writing proficiency across the university.
How can faculty contribute to the Writing Intensive (WI) program?
The General Education Committee (GEC) manages the Writing Intensive (WI) program and authorizes WI course proposals. Generally, in 100-200 level courses, writing might consist of shorter assignments (e.g., 8-10 one- to two-page papers or 4 three- to four-page papers), essay exam responses, and/or writing-to-learn assignments (e.g., journal assignments, brief responses to readings, short research assignments, response to peer writing, lab reports, etc.). In 300-400 level courses, longer papers might be more appropriate (e.g., 2 ten-page papers, or 1 ten- and 2 five-page papers, etc.). Some indication of revision should be explained in the proposal.
To have a course considered for WI approval, please complete the WI Course Proposal Form (below) and submit electronically to the General Education Committee Chair.
ADVISOR QUICK GUIDE
For more information, please contact:Dr. Timothy Lintner, Asst. Vice Chancellor for Academic Affairs, 803-641-3564, TLintner@usca.edu