Maximum Poster Size
Posters should be no larger than 45-inches wide by 36- inches high (Landscape orientation). No background color (to save on printing costs)
Poster Printing
All student participants may have one copy of their poster printed by the University. Any additional copies will be charged to the department making the request. The cost for additional copies is $40. Therefore, each presenter must ensure they have proofed their poster and received approval from their mentor before printing.
Poster guidelines
- Design your poster using the template provided. Be sure to proof the poster before printing. If you choose to create your own poster, create a single PowerPoint slide that is 42-inches wide by 36-inches high.
- Save your file frequently as you work on your poster.
- Posters should have a white background and dark text.
- Files for printing
- The file for printing must be submitted as a single PowerPoint file. The file name must include the first and last name of the presenter (Smith_J.ppt).
- Poster files should be emailed to Professor Brad Reinhart by 12:00 pm on the Wednesday prior to Scholar Showcase.
- Include "Scholar Showcase Poster" in the subject line of your email.
- You will be informed when the poster is ready for pickup.
Scholar Showcase Logistics
- Poster locations will be available in the Scholar Showcase program.
- Posters should be mounted at least 30 minutes prior to your session.
- Odd-numbered posters will be presented in different sessions. See the Scholar Showcase program for presentation details.
- Attire should be business casual, but may include the Scholar Showcase tee shirt.
Contact Us
Center for Research Excellence Co-Coordinator
Center for Research Excellence Co-Coordinator